<div class="modal fade" data-backdrop="static" id="{{modalId}}" tabindex="-1" role="dialog">
    <!--单击背景时不关闭: data-backdrop="static"-->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="position: relative;">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title"><span ng-bind='title'></span></h4>

                <div class="text-center" style="position: absolute;top: 15px;left: 0;width: 100%;">
                    <span ng-show="entity.modalTopAlertShow" class="alert alert-danger"
                          style="padding: 6px 10px;">请将信息填写完整</span>
                </div>
            </div>
            <div class="modal-body form-horizontal" ng-click="modalBodyClick()">
                <div ng-transclude="body"></div>
            </div>
            <div class="modal-footer">
                <span ng-if="action==='add' || action==='edit'">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success" ng-click='submit()'>
                        <span class="icon-ok m-r"></span>&nbsp;提交
                    </button>
                </span>
                <span ng-if="action==='view'">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </span>
                <span ng-if="action==='delete'">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-danger" ng-click='submit()'>
                        <span class="icon-ok m-r"></span>&nbsp;确认删除
                    </button>
                </span>
                <span ng-transclude="footer"></span>
            </div>
        </div>
    </div>
</div>