<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>XX系统管理平台-注册</title>

        <!-- CSS -->
        <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">-->
        <link rel="stylesheet" href="/jsp/login&signup/signupassets/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/jsp/login&signup/signupassets/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/jsp/login&signup/signupassets/assets/css/form-elements.css">
        <link rel="stylesheet" href="/jsp/login&signup/signupassets/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/jsp/login&signup/signupassets/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/jsp/login&signup/signupassets/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/jsp/login&signup/signupassets/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/jsp/login&signup/signupassets/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/jsp/login&signup/signupassets/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body ng-app="mainapp">

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>XX系统管理平台</strong>&nbsp;欢迎您</h1>
                            <!--<div class="description">
                            	<p>
	                            	This is a free responsive login form made with Bootstrap. 
	                            	Download it on <a href="http://azmind.com"><strong>AZMIND</strong></a>, customize and use it as you like!
                            	</p>
                            </div>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>注册</h3>
                            		<p>请输入您的信息:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-book"></i>
                        		</div>
                            </div>
                            <div class="form-bottom" ng-controller="maincontroller">
			                    <form role="form" onsubmit="return ;" class="login-form">
                                    <div class="form-group">
                                        <label class="sr-only">用户名</label>
                                        <input type="text" placeholder="用户名..." class="form-username form-control" ng-model="inputUsername">
                                    </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">密码</label>
			                        	<input type="password" name="form-password" placeholder="密码..." class="form-password form-control" id="form-password" ng-model="inputPassword">
			                        </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">姓名</label>
                                        <input type="text" name="form-username" placeholder="姓名..." class="form-username form-control" id="form-username" ng-model="inputName">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-tel">电话</label>
                                        <input type="text" name="form-tel" placeholder="电话..." class="form-tel form-control" id="form-tel" ng-model="inputTel">
                                    </div>
			                        <button type="submit" ng-click="register()" class="btn">注册!</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                        	<h3>已经有账户?</h3>
                        	<span>点击去&nbsp;<a href="/jsp/login.html"><strong>登录</strong></a>
                            <!--点击去&nbsp;<a href="/jsp/book/index.jsp"><strong>首页</strong></a>--></span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <!--<script src="login&signup/signupassets/assets/js/jquery-1.11.1.min.js"></script>-->
        <script src="/jsp/common/js/jquery.min.js"></script>
        <script src="/jsp/login&signup/signupassets/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/jsp/login&signup/signupassets/assets/js/jquery.backstretch.min.js"></script>
        <script src="/jsp/login&signup/signupassets/assets/js/scripts.js"></script>
        <script src="/jsp/common/js/angular.min.js"></script>
        <script src="/jsp/login&signup/md5.js"></script>
        <script src="/jsp/login&signup/signup.js"></script>

        
        <!--[if lt IE 10]>
        <script src="/jsp/login&signup/signupassets/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>